# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo
apps/web/dist/

# Vite
*.local
.vite/
# Env
.env
.env.*
!.env.example

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# Test / coverage
coverage/
.nyc_output/

# Misc
.cache/
tmp/
temp/
